@import "settings/colors" ;
@import "settings/fonts";


*{
  margin: 0;
  padding: 0;
  
}



.HomeHeader{
  width: 100%;
  height: 50px;
//  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 20px;
  
}
.HomeHeader-One{
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  .button{
    border: none;
    width: 100px;
    height: 20px;
    font-family: $font-base;
    font-weight: 300;
    font-size: 12px;
   // background-color: #ffffff;
    text-decoration: none;
    color: #000000;
  }
  
}

.HomeHeader-Two{
  width: 550px;
  height: 20px;
 // background-color: brown;
  display: flex;
  justify-content: space-around;
  .button{
    border: none;
    width: 70px;
    height: 20px;
    font-family: $font-base;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
}

.HomeHeader-Two :nth-child(2){
  width: 100px;
  // background-color: blue;
}
.HomeHeader-Two :nth-child(4){
  width: 200px;
  // background-color: blue;
}

.xx{
  background-image: url(/assets/Home-Hero-Image.jpg); 
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: -350px;
  height: 600px;
 
}
.HomeCenter{
  width: 100%;
  height: 500px;
  //background-color: red;
  //background-image: url(/assets/Home-Hero-Image.jpg); 
  // background-size: 600px;
  // background-position: left;
  // background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
  .HomeCenter-One{
    width: 600px;
    height: 200px;
    // background: blue;
    margin-right: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .HomeCenter_BC{
    width: 40%;
    height: 30px;
    background-image: url(/assets/Decoration.svg);
    background-position: center;
    }
    .HomeCenter_Text{
      font-family: $font-base;
      font-size: 30px;
      font-weight: 400  
    }
  }
  .HomeCenter-Two{
    width: 500px;
    height: 150px;
    margin-right: 150px;
    display: flex;
    //flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .button{
      width: 210px;
      height: 100px;
      background-color: #ffffff;
      border: 1px solid #000000;
      font-family: $font-base;
      font-size: 30px;
      //margin-left: 20px;
      text-decoration: none;
      color: #000000;
      text-align: center;
    }
  }

.HomeThreeColumns{
  background-color: $color-three;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-around;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-three;
    width: 30%;
  }
  .HTC_HTwo{
    width: 50px;
    height: 120px;
    text-align: center;
    font-size: 90px;
    font-family: $font-base;
    font-size: 90px;
    font-weight: 300;
  }
  .HTC_HThree{
    width: 300px;
    height: 25px;
    text-align: center;
    font-family: $font-base;
    font-size: 18px;
    font-weight: 400;
  }
  .HTC_P{
    width: 330px;
    height: 70px;
    padding: 10px;
    text-align: center;
    font-family: $font-Merriweather;
    font-size: 16px;
    font-weight: 300;
  }
  
}





























.SimpleStep_Title{
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 38px;
    font-family: $font-base;
    font-weight: 400;
  }
  p{
    width: 20%;
    height: 40px;
    background-image: url(/assets/Decoration.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
  }
  
}
.SimpleStep{
  background-color: $color-one;
  width: 100%;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  div{
    width: 20%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  div:first-child{
    margin-left: 150px;
  }
  div:last-child{
    margin-right: 150px
  }
  .icon-One{
    width: 90px;
    height: 90px;
    background-image: url(/assets/Icon-1.svg);
    background-repeat: no-repeat;
  }
  .icon-Two{
    width: 90px;
    height: 90px;
    background-image: url(/assets/Icon-2.svg);
    background-repeat: no-repeat;
  }
  .icon-Three{
    width: 90px;
    height: 90px;
    background-image: url(/assets/Icon-3.svg);
    background-repeat: no-repeat;
  }
  .icon-Four{
    width: 90px;
    height: 90px;
    background-image: url(/assets/Icon-4.svg);
    background-repeat: no-repeat;
  }
  h3{
    text-align: center;
    font-family: $font-base;
    font-size: 18px;
    font-weight: 400;
  }
  .SimpleStep_BorderLine{
    width: 30%;
    height: 1px;
    background: black;
  }
  .SimpleStep_P{
    text-align: center;
    font-family: $font-base;
    font-size: 16px;
    font-weight: 400;
  }
  
}

.SimpleStepButton{
 // background-color: red;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    width: 270px;
    height: 120px;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-family: $font-base;
    font-weight: 300;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    
  }

  
}





































.AboutUs{
  background-color: hotpink;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutUs_Text{
  background-color: $color-one;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .AboutUs_Text_Icon{
    width: 150px;
    height: 150px;
    background-image: url(/assets/Signature.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    margin-left: 400px;
  }
  h3{
    font-size: 32px;
    width: 100px;
    height: 30px;
    font-family: $font-base;
    font-weight: 400;
    margin-top: 100px;
  }
  .AboutUs_Text_Icon-One{
    width: 250px;
    height: 30px;
    background-image: url(/assets/Decoration.svg);
  }
  p{
    width: 70%;
    height: 200px;
    font-size: 24px;
    text-align: center;
    font-family: $font-base;
    font-weight: 400;
  }
}
.AboutUs_Picture{
  background-image: url(/assets/People.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}














.WhoWeHelp{
  background-color: #ffffff;
  width: 100%;
  height: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  .WhoWeHelp_A{
    height: 20px;
    width: 12%;
    background-image: url(/assets/Decoration.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.WhoWeHelp_Title{
  width: 25%;
  font-size: 26px;
  font-family: $font-base;
  font-weight: 400  ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.WhoWeHelp_ThreeColumns{
  //background-color: yellow;
  width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .WWH_Button{
    width: 28%;
    height: 90%;
    background: none;
    border: none;
    font-size: 19px;
    font-family: $font-base;
    font-weight: 400;
  }
  .WWH_Button:active{
    border: 1px solid black;
  }
  .WWH_Button:hover{
    border: 1px solid black;
  }
  div{
    width: 30%;
    height: 60px;
    //background-color: wheat;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  button{
    width: 100%;
    height: 70%;
    text-align: center;
  }
}
.WhoWeHelp_Text{
  width: 42%;
  height: 10%;
  p{
    text-align: center;
    font-size: 18px;
    font-family: $font-base;
    font-weight: 400;

  }
}
.WhoWeHelp_Fundactions{
  //background-color: red;
  width: 77%;
  height: 240px;
  margin-top: 3%;
}
.WhoWeHelp_Fundactions_Position{
  //background-color: green;
  width: 100%;
  height: 100%;
  
}
.Boxs{
  display: flex;
  height: 33%;

  .Box-A{
   // background-color: grey;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .B-A-One{
     // background-color: red;
      font-size: 20px;
      font-family: $font-Merriweather;
      font-weight: 300;
      // font: normal normal 300 26px/31px Merriweather;;
    }
    .B-A-Two{
      font-size: 15px;
      font-family: $font-Merriweather;
      font-weight: 300;
    }
  }
  .Box-B{
    //background-color: hotpink;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p{
      font-size: 15px;
      font-family: $font-Merriweather;
      font-weight: 300;
      margin-right: 20px;
    }
  }
}
.Boxs-border{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.ListPagination{
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  li{
    width: 25%;
    height: 37%;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    a:checked{
      border: 1px solid black;
    }
    a:hover{
      border: 1px solid black;
    }
  }
}


























.Contact{
  width: 100%;
  height: 750px;
}
.Contact-div{
  width: 100%;
  height: 100%;
  //background-color: $color-one ;
  display: flex;
  position: relative;
  
}
.Contact_Picture{
 width: 50%;
 height: 107%;
  div{
    width: 207%;
    height: 100%;
   
    background-image: url(../assets/Background-Contact-Form.jpg);
    background-size: 1438px 854px;
    background-repeat: no-repeat;
    opacity: 18%;
    margin-left: -123px;
    
  }
}
.Contact_Form{
   //background-color: red;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 657px;
  h2, p{
   margin-left: -27px;
  }
  .errorSend{
    font-size: 12px;
  }
}
.Contact_Form_A{
  width: 35%;
  height: 30px;
  background-image: url(/assets/Decoration.svg);
  background-position: center;
  
}
.Form{
  //background-color: hotpink;
  width: 55%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .Form-A{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    label{
      width: 45%;
      font-family: $font-base;
      font-size: 16px;
      font-weight: 600;
    }
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid ;
      
      //margin-top: 10px;
    }
   
  }
  .Form-B{
    width: 100%;
    height: 150px;
    label{
      font-family: $font-base;
      font-size: 16px;
      font-weight: 600;
    }
    .input{
      width: 98%;
      height: 100px;
      border: none;
      border-bottom: 1px solid $color-four;
      margin-top: 10px;
      
    }
    .input_Send{
      width: 150px;
      height: 50px;
      margin-left: 64.5%;
      background-color: #ffffff;
      border: 1px solid $color-four ;
      margin-top: 20px;
      font-family: $font-base;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.Contact_Footer{
  width: 100%;
  height: 50px;
  //background-color: brown;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .C{
    width: 56%;
    height: 100%;
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .Icon{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    //margin-left: 0px;
    
    
  }
  .Icon_One{
    width: 20px;
    height: 20px;
    background-image: url(/assets/Facebook.svg);
    background-size: contain;
    
  };
  .Icon_Two{
    width: 20px;
    height: 20px;
    background-image: url(/assets/Instagram.svg);
    background-size: contain;
    margin-left: 20px;
  };
}
.Log{
  width: 100%;
  height: 500px;
  //background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

}
.Log_Center{
  width: 35%;
  height: 400px;
  //background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  
  .p{
    width: 60%;
    height: 30px;
    background-image: url(/assets/Decoration.svg);
    background-position:center;
  }
  .Log_One{
    width: 100%;
    height: 150px;
    background-color: $color-one;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    label{
      width: 70%;
    }
    input{
      width: 100%;
      background-color: $color-one;
      border: none;
      border-bottom: 1px solid #000000;
    }
  }
  .Log_two{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    button{
      width: 100px;
      background-color: $color-one;
      border: none;
      font-weight: $font-base;
      font-size: 10px;
    }
  }
}

